<div class="row">
  <div class="span12">
    <h1 class="title">Create a new topic</h1>

    <%= form_for(@topic, html: { class: 'form-horizontal'} ) do |builder| %>
      <% if @topic.errors.any? %>
        <div class="alert alert-error">
          <h4>There were some errors. Please correct them and try again</h4>
          <ul>
            <% @topic.errors.full_messages.each do |message| %>
              <li><%=message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <label class="control-label" for="topic[name]">Topic Name:</label>
        <div class="controls">
          <%= builder.text_field(:name) %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="topic[content]">Content</label>
        <div class="controls">
          <%= builder.text_area(:content, rows: 5) %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= builder.submit(class: 'btn btn-primary') %>
        </div>
      </div>
    <% end %>
  </div>
</div>