<!DOCTYPE html>
<html>
  <head>
    <title>Topical</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <a class="brand" href="/">Topical</a>

        <div class="pull-right">
          <% User.all.each do |user| %>
            <%= link_to(user.username, login_path(user_id: user.id)) %>
          <% end %>
        </div>
      </div>
    </div>
  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
